.board {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-template-rows: repeat(2, 1fr);
  gap: 5px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.5s;
  background: linear-gradient(whitesmoke, rgb(0 0 0/10%)) top/100% 800%;
  background-color: whitesmoke;
}

.card:hover {
  background-position: bottom;
}

.card > p {
  text-align: center;
}

.game-wrapper {
  width: clamp(360px, 70%, 1000px);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0px;
}
