.board {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-template-rows: repeat(2, 1fr);
  gap: 5px;
}

.card {
  background-color: whitesmoke;
  display: grid;
  align-items: center;
  justify-content: center;
}

.card > p {
  text-align: center;
}

.game-wrapper {
  width: clamp(360px, 70%, 1000px);
}
